body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: url("media/carrot.png");
    background-blend-mode: lighten;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.content-section {
    width: 80%;
    height: 300px;
    border-bottom: 1px solid black;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    transition-duration: 0.2s;
    width: auto;
    margin: 10px;
    border-bottom: 1px solid gray;
    color: rgb(80, 80, 80);
}

.nav-item:hover{
    margin-right: 12px;
}

.nav-item a:hover{
    color: black;
}


.nav-item a, .name a {
    color: rgb(80, 80, 80);
    text-decoration: none;
}

.name {
    margin-left: 10px;
    font-size: 18pt;
    font-weight: 300;
    color: black;
}

.name a {
    color: black;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: url("media/about.jpeg");
    background-size: 100% auto;
}

.about-info {
    margin-left: 100px;
    height: 80%;
}

.title {
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    color: rgb(80, 80, 80);
}