body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: url("media/carrot.png"); /*https://www.flaticon.com/free-icon/carrot_1159055#term=carrot&page=1&position=4 */
    background: url("media/carrot.png");
    -webkit-animation: slide 20s linear infinite; 
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    background: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.content-section {
    width: 70%;
    height: 300px;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#home {
    width: 100%;
    height: 85vh;
    background: darkblue;
    padding: 0;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    transition-duration: 0.2s;
    width: auto;
    margin: 10px;
    border-bottom: 1px solid gray;
    color: rgb(80, 80, 80);
}

.nav-item:hover{
    margin-right: 12px;
}

.nav-item a:hover{
    color: black;
}


.nav-item a, .name a {
    color: rgb(80, 80, 80);
    text-decoration: none;
}

.name {
    margin-left: 10px;
    font-size: 18pt;
    font-weight: 300;
    color: black;
}

.name a {
    color: black;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: white;

}

.about-image {
    min-width: 200px;
    min-height: 200px;
    border-radius: 100%;
    background: blue;
    background-size: 100% auto;
}

.about-info {
    margin-left: 100px;
    height: 80%;
    word-wrap: break-word;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-size: 20pt;
    margin-bottom: 10px;
    color: rgb(245, 227, 221);
    background: rgb(15, 8, 47);
    padding: 10px;
    width: auto;
    border-radius: 2px;
}

.footer {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

#achievements {
    height: auto;
}

.achievement {
    margin: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.ach-title {
    margin-left: 40px;
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-size: 25pt;
}

.achievement img {
    width: 100px;
    height: 100px;
    background: red;
}

#gallery {
    align-items: center;
    height: auto;
}

.gal-cont {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.gallery-item {
    width: 300px;
    height: 300px;
    background: rgba(190, 190, 190, 0.287);
    margin: 10px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}